git+https://github.com/lebrice/SimpleParsing.git
torch==1.10.2
torchvision==0.11.3
torchaudio==0.10.2
scikit-learn==1.0.2
scipy==1.8.0
tqdm
pandas
colorama
seaborn
jsonargparse
git+https://github.com/RobustBench/robustbench.git
git+https://github.com/elastic/ember.git
dacite
timm
pyro-ppl
python-magic
secml
git+https://github.com/iamgroot42/secml_malware.git
git+https://github.com/iamgroot42/BODMAS.git
lightgbm
botorch
h5py
GPy
timm
lief==0.10.0
pefile
dacite
dill
git+https://github.com/iamgroot42/scurve.git
git+https://github.com/iamgroot42/montemutacon.git
vt-py
gpytorch